<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main.timetolerance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".appparts._main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".appparts._main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appparts.loading.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".appparts.loading.LoadingAnswersActivity"
            android:label="@string/title_activity_loading_answers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".appparts.textupdate.TextUpdateActivity"
            android:label="@string/title_activity_text_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinalActivity"
            android:label="@string/title_activity_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataListActivity"
            android:label="@string/title_activity_data_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>